:root {
  --font-Secondary: "Clicker Script", cursive;
  --font-Primary: "Playfair Display", serif;
  --color-Secondary: #f9c06a;
  --color-Primary: #603809;
  --color-main: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  overflow-x: clip;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/header-img.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding: 21px 93px;
  position: relative;
  z-index: 2;
}

header::before {
  content: "";
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    89.82deg,
    #1e1e1e -6.88%,
    rgba(0, 0, 0, 0) 87.45%
  );
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

nav span {
  font-family: var(--font-Secondary);
  color: var(--color-main);
  font-size: 35px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

nav li {
  font-family: var(--font-Primary);
  font-size: 14px;
  color: var(--color-main);
  text-decoration: none;
  text-transform: capitalize;
}

nav li a {
  color: inherit;
  text-decoration: inherit;
}

nav li a:hover {
  text-underline-offset: 5px;
  text-decoration: underline;
}

nav p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}

nav p :first-child {
  font-family: var(--font-Primary);
  font-size: 14px;
  color: var(--color-main);
  text-decoration: none;
  text-transform: capitalize;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

nav p :first-child:hover {
  text-underline-offset: 5px;
  text-decoration: underline;
}

nav p :last-child {
  font-family: var(--font-Primary);
  font-size: 15px;
  background-color: var(--color-Secondary);
  border-radius: 24px;
  width: 100px;
  height: 48px;
  border-radius: 24px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

nav p :last-child:hover {
  background-color: #ffba52;
}

.spotLight {
  width: 38.53vw;
  margin-top: 12.4375rem;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.spotLight p :nth-child(1) {
  font-weight: 500;
  font-family: var(--font-Primary);
  font-size: 1.375em;
  display: block;
}

.spotLight p :nth-child(2) {
  font-family: var(--font-Secondary);
  font-size: 13.75em;
  display: block;
}

.spotLight p :nth-child(3) {
  font-family: var(--font-Primary);
  font-size: 1.39em;
  display: block;
}

.spotLight button {
  background-color: var(--color-Secondary);
  font-family: var(--font-Primary);
  font-size: 1rem;
  width: 8.375rem;
  height: 3rem;
  border-radius: 24px;
  border: 0;
  outline: 0;
}

section{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 82%;
  justify-self: center;
}

.hero-section {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-text {
  width: 585px;
  height: 384px;
}
.hero-text h2 {
  font-family: var(--font-Primary);
  font-weight: 700;
  font-size: 54px;
  font-style: bold;
  color: #603809;
}
.hero-text p {
  font-family: var(--font-Primary);
  font-size: 20px;
  font-weight: 400;
  font-style: regular;
  color: #707070;
  margin-top: 29px;
  line-height: 34px;
}
.hero-text button {
  background-color: var(--color-Secondary);
  font-family: var(--font-Primary);
  font-size: 16px;
  width: 134px;
  height: 48px;
  border-radius: 24px;
  border: none;
  outline: none;
  margin-top: 29px;
}
.coffe-blast {
  position: relative;
  left: 0;
  bottom: 150px;
  width: fit-content;
  height: fit-content;
}

.coffee-style {
  margin-top: -12rem;
}

.coffee-style-text h2 {
  font-family: var(--font-Primary);
  font-weight: 700;
  font-size: 54px;
  font-style: bold;
  color: var(--color-Primary);
  text-align: center;
}
.coffee-style-text p {
  font-family: var(--font-Primary);
  text-align: center;
  font-size: 20px;
  color: #707070;
  margin: 16px 0;
  line-height: 34px;
}
.coffee-style-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.coffee-style-items div {
  background-color: #FFF9F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.coffee-style-items img {
  width: 280px;
  height: 222px;
}
.coffee-style-items h4 {
  font-family: var(--font-Primary);
  font-weight: 700;
  font-size: 22px;
  color: #603809;
  text-align: center;
}
.coffee-style-items p {
  font-family: var(--font-Primary);
  font-size: 16px;
  font-weight: 400;
  color: #1e1e1e;
  line-height: 6px;
}
.span {
  font-family: var(--font-Primary);
  font-weight: 700;
  font-size: 16px;
  color: #603809;
  text-align: center;
}
.coffee-style-items button {
  background-color: var(--color-Secondary);
  font-family: var(--font-Primary);
  font-size: 16px;
  width: 134px;
  height: 48px;
  border-radius: 24px;
  border: none;
  position: relative;
  outline: none;
  margin-top: 18px;
  top: 20px;
}

.coffee-style-text-2{
  margin-top: 4rem;
}

.coffee-style-text-2 p{
  font-family: var(--font-Primary);
  text-align: center;
  font-size: 20px;
  color: #707070;
  margin: 16px 0;
  line-height: 34px;
}
.coffee-style-text-2 h2{
  font-family: var(--font-Primary);
  font-weight: 700;
  font-size: 54px;
  font-style: bold;
  color: var(--color-Primary);
  text-align: center;
}

.coffee-style-items-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.coffe-blast-2 {
  position: absolute;
  right: -80px;
  width: fit-content;
  height: fit-content;
  transform: rotate(180deg);
}

.coffe-blast-2 img{
  width: 478px;
  height: 261px;
}

.coffee-style-2{
  margin-top: 6rem;
}

.coffee-style-items-2 h4 {
  font-family: var(--font-Primary);
  font-weight: 700;
  font-size: 22px;
  color: #603809;
  text-align: center;
}

.second img{
  width: 88px;
  height: 88px;
}

.second p{
  font-family: var(--font-Primary);
  text-align: center;
  font-size: 20px;
  color: #707070;
  margin: 0;
  width: 176px;
  height: 54px;
}

.second:hover {
  background: #ffeed8;
}
.second {
  padding: 60px 0;
  gap: 1rem;
  width: 280px;
  height: 284px;
  background:  #FFF9F1;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.text h4 {
  font-family: var(--font-Primary);
  font-weight: 700;
  font-size: 22px;
  color: #603809;
}
.text button {
  background-color: var(--color-Secondary);
  font-family: var(--font-Primary);
  font-size: 16px;
  width: 134px;
  height: 48px;
  border-radius: 24px;
  border: none;
  outline: none;
  margin-top: 24px;
}
.text p {
  font-family: var(--font-Primary);
  font-size: 20px;
  font-weight: 400;
  font-style: regular;
  color: #707070;
  line-height: 34px;
  margin-top: 30px;
}
.chance-section {
  margin: auto 0;
  padding: 82px 93px;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/ExperienceWithCofee.png);
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  z-index: 2;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 80%;
}
.chance-section::before {
  content: "";
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    89.82deg,
    #603809(30, 30, 30, 0.8) -6.88%,
    #603809(0, 0, 0, 0) 87.45%
  );
}

.chance-text{
    width: 575px;
    height: 384px;
}
.chance-text h2 {
  font-family: var(--font-Primary);
  font-weight: 700;
  font-size: 54px;
  font-style: bold;
  color: #603809;
}
.chance-text p {
  font-family: var(--font-Primary);
  font-size: 20px;
  font-weight: 400;
  font-style: regular;
  color: #707070;
  margin-top: 29px;
  line-height: 34px;
}
.chance-text button {
  background-color: var(--color-Secondary);
  font-family: var(--font-Primary);
  font-size: 16px;
  width: 134px;
  height: 48px;
  border-radius: 24px;
  border: none;
  outline: none;
  margin-top: 29px;
}